@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #f7f7f7 !important;
    font-family: 'Space Grotesk', sans-serif !important;
}

/* Home Page */
.navbar {
    background-color: #8974dd;
    font-weight: 700;
    width: 100% !important;
    color: #fff !important;
}
.navbar .nav-container a{
    color: #fff !important;
}
.navbar .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 5px 15px;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 75px 10px 150px;
    background-color: #8974dd;
    position: relative;
    z-index: -5;
}
.banner h1 {
    color: #fff;
}
.banner p {
    color: #c1c1c1;
}
.banner-box {
    width: 50%;
    margin: auto;
    border-radius: 10px;
    background-color: #fff;
    margin-top: -75px;
    margin-bottom: 50px;
    padding: 15px 20px;
    z-index: 5;
}

.banner-box .btn {
    background-color: #8974dd;
    border-radius: 0;
    margin: 3px;
}

.banner-box .code-input {
    border: none;
    background-color: #f7f7f7;
}
.banner-box .input-card {
    border: 2px solid #c1c1c1;
    border-radius: 10px;
    margin: 25px 2px;
    padding: 5px 0;
    background-color: #f7f7f7;
}
.banner-box h4, .banner-box p {
    text-align: center;
    margin: 5px 2px;
}
.banner-box h3 {
    text-align: center;
    margin: 5px 2px;
    color: #2cbc63;
}
.categories-title {
    text-align: center;
}
.categories {
    display: flex;
    flex-wrap: wrap;
}
.dashboard-timer .timer{
    position: absolute;
    right: 0;
    top: 0; 
}
.dashboard-timer .timer-home{
    position: absolute;
    right: 0;
    top: 0;
    color: white
}
@media only screen and (max-width: 600px) {
    .categories {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .banner-box {
        width: 80%;
    }
    .banner-box h4, .banner-box p {
        margin: 5px 2px;
    }
    .banner {
        gap: 0px;
    }
    .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bulb {
        display: none;
    }
}
@media only screen and (min-device-width: 600px) and (max-width: 900px) {
    .categories {
        display: flex;
    }
    .banner-box {
        width: 80%;
    }
    .banner-box h4, .banner-box p {
        margin: 5px 2px;
    }
}



/************* Category **************/
.category img {
    width: 100px;
}

.category {
    background-color: #fff;
    display: flex;
    gap: 30px;
    width: 30%;
    padding: 20px 100px 20px 20px;
    border-radius: 8px;
    margin: 20px;
}
.category-sub {
    display: flex;
    gap: 10px;
}
.completed {
    background-color:#898989;
    opacity: 50%;
    pointer-events: none;
}
@media only screen and (max-width: 600px) {
    .category {
        width: 90%;
        padding: 20px;
    }
}
@media only screen and (min-device-width: 600px) and (max-width: 900px) {
    .category {
        width: 45%;
        padding: 20px;
    }
}

/****************** Question View ********************/
.question-cat {
    display: flex;
    justify-content: space-between;
}
.timer {
    background: transparent;
    color:#000;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 600;
}
.timer-home {
    background: transparent;
    color:#000;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 600;
}
.question-card h4{
    color: orange;
    margin: 10px;
    padding: 10px;
}
.question-card h3{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.question-card h2{
    margin: 15px;
    padding: 10px;
    font-weight: 900;
}
.selected {
    background-color: #8974dd !important;
}
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.option {
    display: flex;
    gap: 40px;
    padding: 20px;
    margin: 12px 2px;
    width: 60%;
    border-radius: 10px;
    background-color: #fff;
}
.call-to-action {
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.call-to-action button {
    background-color: #8974dd;
    border-radius: 5px;
    border: none;
    width: fit-content;
    padding: 10px 20px;
    margin: 20px 10px 40px;
    color: #f7f7f7;
}


/************* End Quiz **************/
.finish-quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.end-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    margin-top: 15px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 10;
}
.end-card h3, .end-card p {
    margin: 5px 10px;
    font-size: 1.5rem;
}

.end-card h3 span {
    color: #2cbc63;
}
.end-card p span {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 5px;
    margin-bottom: -10px;
    padding: 0;
}
.return-btn {
    padding: 10px;
    margin: 15px;
    background-color: #8974dd;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 7px;
}
.return-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.final-scores {
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin: 15px 10px;
    font-weight: 700;
}
.score {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
}

@media only screen and (max-width: 600px) {
    .end-card {
        width: 70%;
        text-align: center;
    }
}